@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,700');
@import url('https://fonts.googleapis.com/css?family=SF+Compact+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');
@import url('https://fonts.googleapis.com/css?family=Futura+PT:400,700');
@import url('https://fonts.googleapis.com/css?family=Lazer+84:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 24px 0px;
  position: relative;
  gap: 10px;
  place-content: center flex-start;
}

.column1 {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-flow: column nowrap;
  gap: 24px;
  height: min-content;
  padding: 0px;
  position: relative;
  width: 1px;
}

.main-columns {
  place-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 24px;
  height: min-content;
  max-width: 800px;
  overflow: visible;
  padding: 0px 0px 24px;
  position: relative;
  width: 800px;
  z-index: 3;
}


.pink__gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(20px);
}

.cyan__gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(206,219,226,1) 0%, rgba(42,231,210,1) 100%);
  filter: blur(15px);
}

.spotify__gradient { 
 background: radial-gradient(94.3% 175% at 93.8% 25%, rgba(31, 214, 97, 0.2) 0%, rgba(30, 215, 96, 0.05) 100%); 
}

.github__color {
  background-color: white;
}

/* github button */

.github__font {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  line-height: 1em;
}

.githubButton:hover {
  border-color: white;
  box-shadow: 0 0 10px white;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  }

/* spotify */

  .play-button__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .play-button__circle {
      background-color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%
    }

/* inspiration */

.gradient__border {
  background: linear-gradient(130deg, rgb(255, 0, 183) 0%, rgb(30, 0, 255) 100%);
  opacity: 1;
  border-radius: 20px;
}

.black__bg {
  background-color: rgb(0, 0, 0);
  opacity: 1;
  border-radius: 18px;
}

.godly {
  background: linear-gradient(130deg, rgba(255, 0, 183, 1) 0%, rgba(30, 0, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}

.godly__gradient::before {
  content: '';
  position: absolute;
  width: 47%;
  height: 20%;
  background: radial-gradient(circle, rgba(255,0,183,0.6979166666666667) 0%, rgba(30,0,255,0.6951155462184874) 80%);
  filter: blur(40px);
}

.godly__main {
 
  transition: all 0.5s ease;
  
}

.godly__main:hover {
  transform: rotate(0.4deg) scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
  
}

/* Responsive */

@media (max-width: 809px) {
.main-columns {
  flex-direction: column;
  max-width: 100%;
  padding: 0px 24px 24px;
  width: 100%;
  }
}
